header {
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.25) 0%, rgba(196, 196, 196, 0) 100%); }
  header h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    margin-top: 140px;
    margin-left: 92px;
    position: absolute; }
    header h1 span {
      color: #608A06; }
  header .texto {
    width: 392px;
    height: 162px;
    margin-top: 240px;
    margin-left: 92px;
    position: absolute; }
    header .texto p {
      font-family: "Nunito", sans-serif;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px; }
  header button {
    background-color: #608A06;
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 60px;
    margin-left: 92px;
    margin-top: 470px;
    position: absolute; }
    header button a {
      font-family: "Nunito", sans-serif;
      font-size: 24px;
      color: #fff;
      font-weight: 600;
      text-decoration: none; }
  header button:hover {
    background-color: #fff;
    border: 3px solid #608A06; }
    header button:hover a {
      color: #608A06; }
  header .bamboo {
    margin-left: 1052px;
    float: right; }

nav {
  font-family: "Nunito", sans-serif; }
  nav .logo {
    margin-left: 100px; }
  nav a {
    display: flex;
    justify-items: end;
    font-size: 24px;
    font-weight: 500; }
  nav .navbar-toggler {
    max-width: 40px;
    max-height: 40px;
    z-index: 3; }
  nav .collapse {
    margin-left: 600px; }

main section.payment .pay {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

main section.payment .bg {
  background-color: #334A03;
  width: 592.55px;
  height: 132px;
  margin-top: 900px;
  border-radius: 0px 60px 50px 0px; }
  main section.payment .bg .hojas {
    position: relative;
    margin-top: -70px; }
  main section.payment .bg .texto {
    margin-left: 100px;
    width: 295px;
    height: 90px;
    margin-top: -15px; }
    main section.payment .bg .texto h2 {
      font-size: 35px;
      font-weight: 800;
      font-family: "Open Sans", sans-serif;
      color: #fff; }

main section.payment .clientes {
  margin-top: 850px;
  margin-left: 100px;
  margin-right: 0px; }
  main section.payment .clientes img {
    width: 670px;
    height: 260px; }

main .separador {
  display: grid;
  justify-items: end;
  margin-top: 100px; }

main section.servicios {
  margin-top: 140px;
  text-align: center; }
  main section.servicios h2 {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800; }
    main section.servicios h2 span {
      color: #9EE305; }
  main section.servicios .cards {
    margin-top: 130px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  main section.servicios .tarjeta {
    width: 374px;
    height: 462px;
    background: #FBFBFB;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.25);
    border-radius: 15px; }
    main section.servicios .tarjeta p {
      margin-top: 50px;
      font-size: 19px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      margin-left: 20px;
      margin-right: 20px; }

main .separador-2 {
  margin-top: 170px;
  display: grid;
  justify-items: start; }

main section.nosotros .contenedor {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 80px; }
  main section.nosotros .contenedor .div1 {
    margin-top: 80px; }
  main section.nosotros .contenedor .div2 {
    margin-top: 100px; }
    main section.nosotros .contenedor .div2 span {
      color: #9EE305;
      font-family: "Open Sans", sans-serif;
      font-size: 14px; }
    main section.nosotros .contenedor .div2 h2 {
      font-family: "Nunito", sans-serif;
      font-size: 40px;
      font-weight: 800; }
      main section.nosotros .contenedor .div2 h2 span {
        font-size: 40px;
        font-family: "Nunito", sans-serif;
        font-weight: 800; }
    main section.nosotros .contenedor .div2 .texto {
      width: 513px;
      height: 224px;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 400; }

main section.testimonios .contenedor {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 260px; }
  main section.testimonios .contenedor .div1 .contain {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
    main section.testimonios .contenedor .div1 .contain .first hr {
      width: 80px; }
    main section.testimonios .contenedor .div1 .contain .second span.up {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.2em;
      margin-left: -220px; }
  main section.testimonios .contenedor .div1 .titulo {
    width: 400px;
    height: 108px;
    margin-left: 92px; }
    main section.testimonios .contenedor .div1 .titulo h2 {
      font-family: "Nunito", sans-serif;
      font-size: 40px;
      font-weight: 800; }
      main section.testimonios .contenedor .div1 .titulo h2 span {
        color: #9EE305;
        font-size: 40px;
        font-weight: 800;
        font-family: "Nunito", sans-serif; }
  main section.testimonios .contenedor .div1 .texto {
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 92px;
    width: 500px; }
  main section.testimonios .contenedor .div1 button {
    margin-top: 45px;
    background-color: #9EE305;
    border: none;
    width: 278px;
    height: 60px;
    margin-left: 92px;
    border-radius: 5px; }
    main section.testimonios .contenedor .div1 button a {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      font-size: 24px; }
  main section.testimonios .contenedor .div1 button:hover {
    background-color: #fff;
    border: solid 3px #9EE305; }
    main section.testimonios .contenedor .div1 button:hover a {
      color: #9EE305; }
  main section.testimonios .contenedor .div2 {
    margin-right: -20px;
    margin-left: -50px; }
    main section.testimonios .contenedor .div2 img.hojas {
      margin-left: 400px;
      margin-top: -250px;
      margin-right: 0px;
      position: absolute; }
    main section.testimonios .contenedor .div2 .carousel {
      display: grid;
      justify-items: center;
      width: 563px;
      height: 450px;
      margin-top: 50px;
      margin-left: 150px; }
      main section.testimonios .contenedor .div2 .carousel img.foto {
        z-index: 1; }
      main section.testimonios .contenedor .div2 .carousel .fondo {
        background-color: #27AE60;
        width: 418px;
        height: 189px;
        border-radius: 20px;
        position: absolute;
        z-index: 2;
        margin-left: 140px;
        margin-top: 240px; }
      main section.testimonios .contenedor .div2 .carousel .tarjeta {
        position: absolute;
        width: 408px;
        height: 189px;
        background: #FFFFFF;
        box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
        border-radius: 20px;
        z-index: 3;
        margin-left: 10px; }
        main section.testimonios .contenedor .div2 .carousel .tarjeta p {
          font-family: "Nunito", sans-serif;
          font-size: 12px;
          padding-top: 30px;
          margin-left: 40px;
          margin-right: 30px; }
        main section.testimonios .contenedor .div2 .carousel .tarjeta .parent {
          display: grid;
          justify-items: center;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          margin-top: 20px;
          margin-left: 40px; }
        main section.testimonios .contenedor .div2 .carousel .tarjeta .first span {
          margin-left: -95px;
          font-size: 15px;
          font-family: "Nunito", sans-serif;
          font-weight: 600; }
        main section.testimonios .contenedor .div2 .carousel .tarjeta .second {
          color: #80819A;
          font-size: 15px; }
          main section.testimonios .contenedor .div2 .carousel .tarjeta .second span p {
            margin-top: -30px;
            margin-left: 0px;
            font-size: 15px; }

main section.formulario {
  margin-top: 250px;
  text-align: center; }
  main section.formulario .contenedor-total {
    text-align: center;
    background-image: url(../media/icons/fonto-total.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }
  main section.formulario .texto {
    text-align: center;
    width: 588px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px; }
    main section.formulario .texto h2 {
      font-size: 32px;
      color: #FFFFFF;
      padding-top: 105px; }
    main section.formulario .texto p {
      font-size: 20px;
      color: #fff;
      margin-top: 55px;
      font-family: "Open Sans", sans-serif; }
  main section.formulario .form {
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    font-family: "Open Sans", sans-serif; }
    main section.formulario .form .row {
      width: 600px; }
    main section.formulario .form .form-group.col-md-6 input {
      width: 271px;
      height: 40px;
      margin-bottom: 14px;
      border-radius: 12.46px;
      border: 1px solid #E0E3EB; }
    main section.formulario .form textarea {
      width: 572px;
      height: 138px;
      border-radius: 12.46px;
      border: 1px solid #E0E3EB; }
    main section.formulario .form .boton {
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.25);
      border-radius: 5px;
      width: 278px;
      height: 60px;
      border: none;
      margin-top: 31px;
      margin-bottom: 80px; }
      main section.formulario .form .boton a {
        font-family: "Nunito", sans-serif;
        color: #27AE60;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none; }
    main section.formulario .form .boton:hover {
      background-color: #8CC909; }
      main section.formulario .form .boton:hover a {
        color: #fff; }

footer {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px; }
  footer .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 50px; }
    footer .contenedor .div1 {
      margin-left: 83px; }
    footer .contenedor .div2 {
      text-align: center; }
      footer .contenedor .div2 p a {
        color: black;
        text-decoration: none; }
      footer .contenedor .div2 a:hover {
        color: #27AE60; }
    footer .contenedor .div3 {
      margin-left: 100px;
      justify-content: space-between; }
      footer .contenedor .div3 img {
        margin-left: 50px; }

@media screen and (max-width: 768px) {
  nav .logo {
    margin-left: 20px; }
  nav .collapse {
    margin-left: auto;
    text-align: end; }
  nav a {
    display: flex;
    justify-items: end;
    font-size: 18px;
    font-weight: 500; }
  nav .navbar-toggler {
    border-color: #608A06;
    border: 10px;
    margin-top: 0px;
    margin-left: 300px; }
    nav .navbar-toggler img {
      margin-left: -6px; }
  header img.bamboo {
    display: none; }
  header h1 {
    margin-left: 30px;
    font-size: 40px; }
  header .texto {
    max-width: 300px;
    margin-left: 30px; }
    header .texto p {
      font-size: 15px; }
  header button {
    margin-left: 30px;
    background-color: #608A06;
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 40px;
    margin-top: 400px;
    position: absolute; }
    header button a {
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      text-decoration: none; }
  main section.payment .pay {
    margin-top: -300px; }
  main section.payment .bg {
    max-width: 300px;
    max-height: 70px; }
    main section.payment .bg .texto h2 {
      font-size: 18px;
      margin-left: -55px;
      margin-top: 5px; }
  main section.payment .clientes {
    display: none; }
  main section.servicios .cards {
    display: none; }
  main section.servicios .carousel {
    margin-top: 50px;
    min-width: 320px;
    height: 462px;
    display: grid;
    justify-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; }
    main section.servicios .carousel img {
      min-width: 320px; }
  main .separador {
    display: none; }
  main .separador-2 {
    display: none; }
  main section.nosotros {
    margin-top: 150px; }
    main section.nosotros .contenedor {
      display: none; }
    main section.nosotros .foto {
      display: grid;
      justify-items: center;
      margin-left: auto;
      margin-right: auto; }
      main section.nosotros .foto img {
        width: 250px;
        height: 300px; }
    main section.nosotros .texto {
      margin-left: 30px;
      margin-top: 50px;
      margin-right: 30px; }
      main section.nosotros .texto span {
        color: #9EE305;
        font-family: "Open Sans", sans-serif;
        font-size: 10px; }
      main section.nosotros .texto h2 {
        font-family: "Nunito", sans-serif;
        font-size: 20px;
        font-weight: 800; }
        main section.nosotros .texto h2 span {
          font-size: 20px;
          font-family: "Nunito", sans-serif;
          font-weight: 800; }
      main section.nosotros .texto .txt {
        max-width: 513px;
        height: 224px;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-weight: 400; }
  main section.testimonios {
    margin-top: 100px; }
    main section.testimonios .contenedor {
      display: none; }
    main section.testimonios .contenedor-mobile .texto .contain .first hr {
      max-width: 80px;
      margin-top: 20px; }
    main section.testimonios .contenedor-mobile .texto .contain .second span.up {
      position: absolute;
      font-size: 12px;
      margin-left: 100px;
      margin-top: -25px; }
    main section.testimonios .contenedor-mobile .texto .titulo {
      width: 400px;
      margin-top: 50px;
      margin-left: 30px; }
      main section.testimonios .contenedor-mobile .texto .titulo h2 {
        font-size: 20px; }
        main section.testimonios .contenedor-mobile .texto .titulo h2 span {
          font-size: 20px; }
    main section.testimonios .contenedor-mobile .texto .txt {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-weight: 400;
      margin-left: 30px;
      max-width: 500px;
      margin-top: 50px;
      margin-right: 50px; }
    main section.testimonios .contenedor-mobile .texto button {
      margin-top: 45px;
      background-color: #9EE305;
      border: none;
      max-width: 278px;
      height: 60px;
      margin-left: 30px;
      border-radius: 5px; }
      main section.testimonios .contenedor-mobile .texto button a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 16px; }
    main section.testimonios .contenedor-mobile .texto button:hover {
      background-color: #fff;
      border: solid 3px #9EE305; }
      main section.testimonios .contenedor-mobile .texto button:hover a {
        color: #9EE305; }
  main section.formulario .contenedor-total .texto {
    max-width: 300px; }
  main section.formulario .contenedor-total .form {
    font-size: 15px; }
    main section.formulario .contenedor-total .form .row .form-group.col-md-6 input {
      width: 300px; }
    main section.formulario .contenedor-total .form textarea {
      max-width: 300px; }
  footer .contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 50px; }
    footer .contenedor .div3 {
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px; }
      footer .contenedor .div3 img {
        margin-left: 25px;
        margin-right: 25px; }
    footer .contenedor .div1 {
      margin-left: auto;
      margin-right: auto; }
  footer .div2 {
    display: none; }
  footer .div4 {
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px; }
    footer .div4 a {
      text-decoration: none;
      color: #000; }
    footer .div4 a:hover {
      color: #27AE60; } }

@media screen and (min-width: 769px) {
  section.servicios .carousel {
    display: none; }
  .contenedor-mobile {
    display: none; }
  .div4 {
    display: none; } }
