$nunito: 'Nunito', sans-serif;
$poppins: 'Poppins', sans-serif;

header{

    background: linear-gradient(180deg, rgba(196, 196, 196, 0.25) 0%, rgba(196, 196, 196, 0) 100%);
h1{
    font-size: 60px;
    font-weight: 700;
    font-family: $nunito;
    margin-top: 140px;
    margin-left: 92px;
    span{
        color: #608A06;
    }
    position: absolute;
}
.texto{
    width:392px;
    height:162px;
    margin-top: 240px;
    margin-left: 92px;
    position: absolute;
p{
    font-family: $nunito;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}    
}
button{
    background-color: #608A06;
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 60px;
    margin-left: 92px;
    margin-top: 470px;
    position: absolute;
    a{
        font-family: $nunito;
        font-size: 24px;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
}
button:hover{
    background-color: #fff;
    border: 3px solid #608A06;
    a{
        color: #608A06;
    }
}
.bamboo{
    margin-left: 1052px;
    float: right;
}
}