$nunito: 'Nunito', sans-serif;
$poppins: 'Poppins', sans-serif;
$sans:'Open Sans', sans-serif;
$verdeFondo: #334A03;
$verdeTexto:#9EE305;
$grisTexto:#2C2D32;
$verdeForm:#27AE60;
$verdePanda:#8CC909;

main{
    section.payment{
        .pay{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;                
        }
        .bg{
            background-color: $verdeFondo;
            width: 592.55px;
            height: 132px;
            margin-top: 900px;
            border-radius: 0px 60px 50px 0px;
            .hojas{
                position: relative;
                margin-top: -70px;
            }
            .texto{
                margin-left: 100px;
                width: 295px;
                height: 90px;
                margin-top: -15px;
                h2{
                    font-size: 35px;
                    font-weight: 800;
                    font-family: $sans;
                    color: #fff;
                }
            }
        }
        .clientes{
            margin-top: 850px;
            margin-left: 100px;
            margin-right: 0px;
            img{
             width: 670px;
            height:260px;   
            }
            
        }
    }
    .separador{
    display: grid;
    justify-items: end;
    margin-top: 100px;
    }
    section.servicios{
        margin-top: 140px;
        text-align: center;
        h2{
            font-size: 36px;
            font-family: $sans;
            font-weight: 800;
            span{
                color: $verdeTexto;
            }
        }
        .cards {
            margin-top: 130px;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            .tarjeta{
                width: 374px;
                height: 462px;
                background: #FBFBFB;
                box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.25);
                border-radius: 15px;
                p{
                    margin-top: 50px;
                    font-size: 19px;
                    font-family: $poppins;
                    font-weight: 400;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
    }
    .separador-2{
        margin-top: 170px;
        display: grid;
        justify-items: start;
    }
    section.nosotros{
        .contenedor{

        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 80px;
        .div1{
            margin-top: 80px;
        }
        .div2{
            margin-top: 100px;
            span{
                color: $verdeTexto;
                font-family: $sans;
                font-size: 14px;
            }
            h2{
                font-family: $nunito;
                font-size: 40px;
                font-weight: 800;
                span{
                    font-size: 40px;
                    font-family: $nunito;
                    font-weight: 800;
                }
            }
            .texto{
                width: 513px;
                height: 224px;
                font-family: $poppins;
                font-size: 18px;
                font-weight: 400;
            }
        }

    }
    }
    section.testimonios{
        .contenedor{
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: 260px;
        .div1{
            .contain{
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            .first{
             hr{
            width: 80px;
            }                
            }

        .second{
        span.up{
            font-family: $sans;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.2em;
            margin-left: -220px;
        }            
        }

            }

        .titulo{
            width: 400px;
            height: 108px;
            margin-left: 92px;
        h2{
            font-family: $nunito;
            font-size: 40px;
            font-weight: 800;
            span{
                color: $verdeTexto;
                font-size: 40px;
                font-weight: 800;
                font-family: $nunito;
            }
        }            
        }
        .texto{
            margin-top: 30px;
            font-family: $poppins;
            font-size: 18px;
            font-weight: 400;
            margin-left: 92px;
            width:500px;
        }
        button{
            margin-top: 45px;
            background-color: $verdeTexto;
            border: none;
            width: 278px;
            height: 60px;
            margin-left:92px;
            border-radius: 5px;
            a{
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                font-size: 24px;
            }
        }
        button:hover{
            background-color: #fff;
            border: solid 3px $verdeTexto;
            a{
                color: $verdeTexto;
            }
        }
    }
    .div2{
        margin-right: -20px;
        margin-left: -50px;
        img.hojas{
            margin-left: 450px;
            margin-top: -240px;
            margin-right: 0px;
        }
        img.foto{
            margin-top: -200px;
            margin-left: 300px;
            z-index: 1;
        }
        .fondo{
            background-color: $verdeForm;
            width: 418px;
            height: 189px;
            border-radius: 20px;
            position: absolute;
            z-index: 2;
            margin-left: 340px;
            margin-top: 80px;
        }
        .tarjeta{
            position: absolute;
            width: 408px;
            height: 189px;
            background: #FFFFFF;
            box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
            border-radius: 20px;
            z-index: 3;

            margin-left: 10px;
            p{
                font-family: $nunito;
                font-size: 12px;
                padding-top: 30px;
                margin-left: 40px;
                margin-right: 30px;
            }
            .parent{
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-top: 40px;
                margin-left: 40px;
            }
            .first{
                span{
                    margin-left: -95px;
                    font-size: 15px;
                    font-family: $nunito;
                    font-weight: 600;
                }
            }
            .second{
                color: #80819A;
                font-size: 15px;
                span{
                    p{
                        margin-top: -30px;
                        margin-left: 0px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
}
section.formulario{
    margin-top: 250px;
    text-align: center;
    .contenedor-total{
        text-align: center;
        background-image: url(../media/icons/fonto-total.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;

    }
    .texto{
        text-align: center;
        width: 588px;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
    h2{
        font-size: 32px;
        color: #FFFFFF;
        padding-top: 105px;
    } 
    p{
        font-size: 20px;
        color: #fff;
        margin-top: 55px;
        font-family: $sans;
    }       
    }
    .form{
        display: grid;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 55px;
        font-family: $sans;
        .row{
            width: 600px;
        }

        .form-group.col-md-6{

            input{
            width: 271px;
            height: 40px; 
            margin-bottom: 14px;
            border-radius: 12.46px;    
            border: 1px solid #E0E3EB;          
            }

        }
        textarea{
            width: 572px;
            height: 138px;
            border-radius: 12.46px;
            border: 1px solid #E0E3EB;
        }
        .boton{
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.25);
            border-radius: 5px;
            width: 278px;
            height: 60px;
            border: none;
            margin-top: 31px;
            margin-bottom: 80px;
            a{
                font-family: $nunito;
                color: $verdeForm;
                font-size: 24px;
                font-weight: 700;
                text-decoration: none;
            }
        }
        .boton:hover{
            background-color: $verdePanda;
            a{
                color: #fff;
            }
        }
    }
}

}