$nunito: 'Nunito', sans-serif;

nav {
  font-family: $nunito;

  .logo {
    margin-left: 100px;
  }

    a{
    display: flex;
    justify-items: end;
    font-size: 24px;
    font-weight: 500; 
  }
  
  .navbar-toggler{
    max-width: 40px;
    max-height: 40px;
    z-index: 3;
    position: static;

  }
.collapse{
  margin-left: 600px;
}

}

