@media screen and (max-width:768px){
    nav{
        .boton{
            display: grid;
            justify-items: end;
            margin-left: 150px;
            // width: 100%;
            // height: 40px;
            margin-top: -100px;
            margin-right: -80px;
            button{
                margin-top: 0px;
                margin-right: 0px;
                margin-left: 50px;
            }
        }
        .container-fluid{
            margin-left: -90px;
           justify-items: start;
        }
        .navbar-nav{
            justify-items: end;
            margin-left: auto;
            margin-right: -80px;
        }
          .collapse{
            margin-left: 300px;
            text-align: end;
            margin-right: 0px;
            .show{
                text-align: end;
                margin-left: 300px;
            }
          }
          a{
            display: grid;
            justify-items: end;
            font-size: 18px;
            font-weight: 500; 
          }
          .navbar-toggler{
            border-color: none;
            img{
              margin-left: -10px;
            }
          }
        
    }
    header{
        img.bamboo{
            display: none;
        }
        h1{
            margin-left: 30px;
            font-size: 40px;
        }
        .texto{
            max-width:300px;
            margin-left: 30px;
            p{
                font-size: 15px;
            }
        }
        button{
            margin-left: 30px;
            background-color: #608A06;
            border: none;
            border-radius: 5px;
            width: 192px;
            height: 40px;
            margin-top: 400px;
            position: absolute;
            a{
                font-family: $nunito;
                font-size: 16px;
                color: #fff;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
    main{
        overflow-x: hidden;
        section.payment{
            .pay{
                margin-top: -300px;
            }
            .bg{
                max-width: 300px;
                max-height: 70px;
                .texto{
                h2{
                    font-size: 18px;
                    margin-left: -55px;
                    margin-top: 5px;
                }
            }
            
            }
            .clientes{
                    display: none;
                }
            }
        section.servicios{
            .cards{
                display: none;
            } 
            .carousel{
                margin-top: 50px;
                min-width :320px;
                height :462px;
                display: grid;
                justify-items: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                img{
                    min-width: 320px;
                }
            }   
            }
        .separador{
            display: none;
        }
        .separador-2{
           display: none;
        }
        section.nosotros{
            margin-top: 150px;
            .contenedor{
                display: none;
            }
            .foto{
                display: grid;
                justify-items: center;
                margin-left: auto;
                margin-right: auto;
                img{
                    width: 250px;
                    height: 300px;
                }
            }
            .texto{
                margin-left: 30px;
                margin-top: 50px;
                margin-right: 30px;
                span{
                    color: $verdeTexto;
                    font-family: $sans;
                    font-size: 10px;
                }
                h2{
                    font-family: $nunito;
                    font-size: 20px;
                    font-weight: 800;
                    span{
                        font-size: 20px;
                        font-family: $nunito;
                        font-weight: 800;
                    }
                }
                .txt{
                    max-width: 513px;
                    height: 224px;
                    font-family: $poppins;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
        section.testimonios{
            margin-right: 0px;
            margin-top: 100px;
            .contenedor{
                display: none;
            }
            .contenedor-mobile{
                margin-right: 0px;
                display: grid;
                margin-left: auto;
                margin-right: auto;
                justify-items: center;
                .txt{
                    p{
                        margin-right: 50px;
                    }
                }
                .texto{
                    .contain{
                    .first{
                     hr{
                    max-width: 80px;
                    margin-top: 20px;
                    }                
                    }
        
                .second{
                span.up{
                    position: absolute;
                    font-size: 12px;
                    margin-left: 100px;
                    margin-top: -25px;
                }            
                }
                }
                .titulo{
                    width: 400px;
                    margin-top: 50px;
                    margin-left: 30px;
                h2{

                    font-size: 20px;

                    span{

                        font-size: 20px;

                    }
                }            
                }
                .txt{
                    font-family: $poppins;
                    font-size: 15px;
                    font-weight: 400;
                    margin-left: 30px;
                    max-width:500px;
                    margin-top: 50px;
                    margin-right: 50px;
                }
                button{
                    margin-top: 45px;
                    background-color: $verdeTexto;
                    border: none;
                    max-width: 278px;
                    height: 60px;
                    margin-left:30px;
                    border-radius: 5px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
                button:hover{
                    background-color: #fff;
                    border: solid 3px $verdeTexto;
                    a{
                        color: $verdeTexto;
                    }
                }
            }
            .div2{
                display: grid;
                align-items: center;
                .carousel{
                    display: grid;
                    justify-items: center;
                    width: 320px;
                    height: 370.5px;
                    margin-top: 50px;
                    margin-left: 10px;
                    .carousel-control-next{
                        background-color: #fff;
                        z-index: 3;
                        width: 40px;
                        height: 40px;
                        margin-top: 30%;
                        border-radius: 30px;
                        margin-right: 60px;
                        opacity: 100%;
                        box-shadow: 2px 10px 60px rgba(41, 44, 124, 0.1);
                    }
                    .carousel-inner{
                        overflow: inherit;
                    }
                }
                img.foto{
                    z-index: 1;
                    width: 75%;
                    height: 75%;
                    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
                }
                .fondo{
                    background-color: $verdeForm;
                    width: 310px;
                    height: 189px;
                    border-radius: 20px;
                    position: absolute;
                    z-index: 2;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 150px;
                    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
                }
                .tarjeta{
                    position: absolute;
                    width: 300px;
                    height: 189px;
                    background: #FFFFFF;
                    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
                    border-radius: 20px;
                    z-index: 3;
                    margin-left: 10px;
                    p{
                        font-family: $nunito;
                        font-size: 12px;
                        padding-top: 10px;
                        margin-left: 10px;
                        margin-right: 30px;
                    }
                    .parent{
                        display: grid;
                        justify-items: center;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 1fr;
                        grid-column-gap: 0px;
                        grid-row-gap: 0px;
                        margin-top: 20px;
                        margin-left: 40px;
                    }
                    .first{
                        span{
                            margin-left: -95px;
                            font-size: 15px;
                            font-family: $nunito;
                            font-weight: 600;
                        }
                    }
                    .second{
                        color: #80819A;
                        font-size: 15px;
                        span{
                            p{
                                margin-top: -10px;
                                margin-left: 0px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            }
        }
        section.formulario{
            margin-right: 0px;
            .contenedor-total{
            .texto{
                max-width: 300px;
            }
            .form{
                font-size: 15px;
                .row{
                    .form-group.col-md-6{
                        input{
                         width: 300px;      
                        }                     
                    }
                }                    
                textarea{
                    max-width: 300px;
                }
            }                
            }

        }
        }
        footer{
            .contenedor {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                padding-top: 50px;
                .div3{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                    img{
                        margin-left: 25px;
                        margin-right: 25px;
                    }
                }
                .div1{
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .div2{
                display: none;
            }

            .div4{
                text-align: center;
                margin-top: 50px;
                margin-left: 10px;
                margin-right: 10px;
                a{
                    text-decoration: none;
                    color: #000;
                }
                a:hover{
                    color: #27AE60;
                }
            }
        }
    
    }
    @media screen and (min-width:769px)  {
        section.servicios{
        .carousel{
            display: none;
        }            
        }

        .contenedor-mobile{
            display: none;
        }
        .div4{
            display: none;
        }
    }
