@media screen and (max-width:768px){
    nav{
        .logo {
            margin-left: 20px;
          }
          .collapse{
            margin-left: auto;
            text-align: end;
          }
          a{
            display: flex;
            justify-items: end;
            font-size: 18px;
            font-weight: 500; 
          }
          .navbar-toggler{
            border-color: #608A06;
            border: 10px;
            margin-top: 0px;
            margin-left: 300px;
            img{
              margin-left: -6px;
            }
          }
        
    }
    header{
        img.bamboo{
            display: none;
        }
        h1{
            margin-left: 30px;
            font-size: 40px;
        }
        .texto{
            max-width:300px;
            margin-left: 30px;
            p{
                font-size: 15px;
            }
        }
        button{
            margin-left: 30px;
            background-color: #608A06;
            border: none;
            border-radius: 5px;
            width: 192px;
            height: 40px;
            margin-top: 400px;
            position: absolute;
            a{
                font-family: $nunito;
                font-size: 16px;
                color: #fff;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
    main{
        section.payment{
            .pay{
                margin-top: -300px;
            }
            .bg{
                max-width: 300px;
                max-height: 70px;
                .texto{
                h2{
                    font-size: 18px;
                    margin-left: -55px;
                    margin-top: 5px;
                }
            }
            
            }
            .clientes{
                    display: none;
                }
            }
        section.servicios{
            .cards{
                display: none;
            } 
            .carousel{
                margin-top: 50px;
                min-width :320px;
                height :462px;
                display: grid;
                justify-items: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                img{
                    min-width: 320px;
                }
            }   
            }
        .separador{
            display: none;
        }
        .separador-2{
           display: none;
        }
        section.nosotros{
            margin-top: 150px;
            .contenedor{
                display: none;
            }
            .foto{
                display: grid;
                justify-items: center;
                margin-left: auto;
                margin-right: auto;
                img{
                    width: 250px;
                    height: 300px;
                }
            }
            .texto{
                margin-left: 30px;
                margin-top: 50px;
                margin-right: 30px;
                span{
                    color: $verdeTexto;
                    font-family: $sans;
                    font-size: 10px;
                }
                h2{
                    font-family: $nunito;
                    font-size: 20px;
                    font-weight: 800;
                    span{
                        font-size: 20px;
                        font-family: $nunito;
                        font-weight: 800;
                    }
                }
                .txt{
                    max-width: 513px;
                    height: 224px;
                    font-family: $poppins;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
        section.testimonios{
            margin-top: 100px;
            .contenedor{
                display: none;
            }
            .contenedor-mobile{
                .texto{
                    .contain{
                    .first{
                     hr{
                    max-width: 80px;
                    margin-top: 20px;
                    }                
                    }
        
                .second{
                span.up{
                    position: absolute;
                    font-size: 12px;
                    margin-left: 100px;
                    margin-top: -25px;
                }            
                }
                }
                .titulo{
                    width: 400px;
                    margin-top: 50px;
                    margin-left: 30px;
                h2{

                    font-size: 20px;

                    span{

                        font-size: 20px;

                    }
                }            
                }
                .txt{
                    font-family: $poppins;
                    font-size: 15px;
                    font-weight: 400;
                    margin-left: 30px;
                    max-width:500px;
                    margin-top: 50px;
                    margin-right: 50px;
                }
                button{
                    margin-top: 45px;
                    background-color: $verdeTexto;
                    border: none;
                    max-width: 278px;
                    height: 60px;
                    margin-left:30px;
                    border-radius: 5px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
                button:hover{
                    background-color: #fff;
                    border: solid 3px $verdeTexto;
                    a{
                        color: $verdeTexto;
                    }
                }
            }
            }
        }
        section.formulario{
            .contenedor-total{
            .texto{
                max-width: 300px;
            }
            .form{
                font-size: 15px;
                .row{
                    .form-group.col-md-6{
                        input{
                         width: 300px;      
                        }                     
                    }
                }                    
                textarea{
                    max-width: 300px;
                }
            }                
            }

        }
        }
        footer{
            .contenedor {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                padding-top: 50px;
                .div3{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                    img{
                        margin-left: 25px;
                        margin-right: 25px;
                    }
                }
                .div1{
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .div2{
                display: none;
            }

            .div4{
                text-align: center;
                margin-top: 50px;
                margin-left: 10px;
                margin-right: 10px;
                a{
                    text-decoration: none;
                    color: #000;
                }
                a:hover{
                    color: #27AE60;
                }
            }
        }
    
    }
    @media screen and (min-width:769px)  {
        .carousel{
            display: none;
        }
        .contenedor-mobile{
            display: none;
        }
        .div4{
            display: none;
        }
    }
